<app-page-loader *ngIf="shouldShowPageLoader"></app-page-loader>
<div class="rate-by-course-wrapper">
  <form [formGroup]="classForm" class="class-selection-wrapper" [@moveUp]="shouldShowLoader || shouldShowTable">
    <app-logo></app-logo>
    <div [@shrinkUp]="shouldShowControls" class="class-selection-controls">
      <div class="quarter-select" *ngIf="quarters.length > 0">
        <mat-button-toggle-group formControlName="quarter">
          <mat-button-toggle *ngFor="let quarter of quarters"
                             [value]="quarter['value']">{{quarter['name']}}</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div>
        <mat-form-field>
          <input #deptInput type="text" placeholder="Pick a department" matInput [matAutocomplete]="depts"
                 formControlName="department">
          <mat-autocomplete autoActiveFirstOption #depts="matAutocomplete">
            <mat-option *ngFor="let dept of filteredDepts" [value]="dept['name']">
              {{dept['name']}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <mat-icon fxHide.sm>keyboard_arrow_right</mat-icon>
      <div>
        <mat-form-field>
          <input #classInput type="text" placeholder="Pick a class" matInput [matAutocomplete]="classes" formControlName="class">
          <mat-autocomplete autoActiveFirstOption #classes="matAutocomplete">
            <mat-option *ngFor="let class_ of filteredClasses" [value]="class_">
              {{class_}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="expand-button-container">
      <button mat-icon-button *ngIf="!shouldShowControls" (click)="shouldShowControls = !shouldShowControls">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </div>
  </form>
  <div class="table-container mat-elevation-z8" [ngClass]="{hidden: shouldShowLoader || !shouldShowTable}">
    <mat-table [dataSource]="profsDataSource" matSort multiTemplateDataRows>
      <ng-container matColumnDef="teacherfullname_s">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let prof"> {{prof['teacherfullname_s']}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="teacherdepartment_s">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.md fxShow.lg> Department </mat-header-cell>
        <mat-cell *matCellDef="let prof" fxHide fxShow.md fxShow.lg> {{prof['teacherdepartment_s']}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="averageratingscore_rf">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Rating </mat-header-cell>
        <mat-cell *matCellDef="let prof"> {{prof['averageratingscore_rf']}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="averageeasyscore_rf">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ease </mat-header-cell>
        <mat-cell *matCellDef="let prof"> {{prof['averageeasyscore_rf']}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="averageclarityscore_rf">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Clarity </mat-header-cell>
        <mat-cell *matCellDef="let prof"> {{prof['averageclarityscore_rf']}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="averagehelpfulscore_rf">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.md fxShow.lg> Helpfulness </mat-header-cell>
        <mat-cell *matCellDef="let prof" fxHide.sm> {{prof['averagehelpfulscore_rf']}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="detailRow">
        <mat-cell *matCellDef="let prof" [attr.colspan]="columnsToDisplay.length">
          <div class="detail-row" [@detailExpand]="prof == expandedElement ? 'expanded' : 'collapsed'">
            <p> Days: {{prof['days']}} </p>
            <p> Class time: {{prof['times']}} </p>
            <p fxHide.lg fxHide.md> Department: {{prof['teacherdepartment_s']}} </p>
            <p fxHide.lg fxHide.md> Helpfulness: {{prof['averagehelpfulscore_rf']}} </p>
            <mat-chip-list *ngIf="prof['class_features'].length > 0">
              <mat-chip *ngFor="let feature of prof['class_features']; let i = index"
                        [color]="i % 2 === 0 ? 'primary' : 'secondary'">{{ feature }}</mat-chip>
            </mat-chip-list>
            <div class="add-to-schedule-container">
              <button mat-raised-button color="accent" class="add-to-schedule-button" (click)="addClassToSchedule(prof)">Add to schedule</button>
            </div>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay" class="prof-row" (click)="expandRow(row)"
               matRipple [class.expanded-row]="row === expandedElement" [matTooltip]="row['tags']"></mat-row>
      <mat-row *matRowDef="let _; columns: ['detailRow']" class="detail-row-wrapper"></mat-row>
    </mat-table>
  </div>
  <app-loader *ngIf="shouldShowLoader"></app-loader>
  <app-schedule [scheduleClasses]="scheduleClasses" [shouldExpandClassList]="shouldExpandClassList" [classListShrinkTimer]="classListShrinkTimer"></app-schedule>
</div>
